.App {
  text-align: center;
}
/* Top Navigation Bar */
.top-nav {
  overflow: hidden;
  background-color: #324A5F;
}

.top-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Color Properties */
.Prmy-Section-Color {
  background-color: #324A5F;
}

.Prmy-Text-Color {
  color: white;
}

.Sndy-Section-Color {
  background-color: #EBEBEB;
}

/* Image Properties */
img {
  border-radius: 50%;
  justify-content: center;
  margin: auto;
}

.Border-Color {
  border: 7px solid #324A5F;
}


h1 {text-align: center;}

h1::after {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1;
  border-top: 3px solid rgba(0, 0, 0, 0.342);
  width: 80%;
}

.p-margin {
  margin: 0;
}

.div-padding {
  padding: 1em;
}

/* Flex Containers */
.my-container {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.my-container div {
  width: 100%;
}

.my-container div.small {
  position:relative;
  width: 40%;
}

@media (max-width: 1200px) {
  .my-container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .my-container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .my-container {
    flex-direction: column;
    max-width: 540px;
  }

  .my-container div.small {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .my-container {
    max-width: 540px;
  }
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */